@keyframes loading{
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes shiftHeader {
    0% {
        opacity: 0;
        transform: translateY(-32px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes shiftMainInfo {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes shiftMainImg {
    0% {
        opacity: 0;
        transform: translateX(90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pageTopText {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes pageTopImg {
    0% {
        opacity: 0;
        transform: translateX(156px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes infoTextUp {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes infoImgUp {
    0% {
        opacity: 0;
        transform: translateX(-40px);
        transform: translateY(-40px);
        box-shadow: none;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
        box-shadow: -40px 40px 0 $color-main-light;
    }
}