// размеры шрифтов
$size_extra-big: 30px;
$size_big: 18px;
$size_main: 16px;
$size_small: 14px;

//
$color-black: #000;
$color-white: #fff;
// 
$color-main-light: #00B6F4;
$color-main: #00779F;

