doctype html
html(lang="ru")
	head 
		block head
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(charset="UTF-8")
			title #{pageTitle}
			link(href="styles/main.css", rel="stylesheet")
			

	body
		div.wrapper
			form#form.form
				div.form__group-input
					label.form__label(for="name") Name
					input.form__input(type="text" id="name" name="name" placeholder="Jon Bold" required)
				div.form__group-input
					label.form__label(for="email") Email
					input.form__input(type="email" id="email" name="email" placeholder="email@email.com" required)
				div.form__group-input
					label.form__label(for="phone") Phone
					input.form__input(type="tel" id="phone" name="phone" placeholder="+7 (___) ___ - __ - __" required)
				div.form__group
					span.form__input-title Checkbox
					div.form__checkbox-group
						input.form__checkbox(type="checkbox" id="checkbox-1" name="option-1" value="option-1")
						label.form__label(for="checkbox-1") option-1
					div.form__checkbox-group
						input.form__checkbox(type="checkbox" id="checkbox-2" name="option-2" value="option-2")
						label.form__label(for="checkbox-2") option-2
					div.form__checkbox-group
						input.form__checkbox(type="checkbox" id="checkbox-3" name="option-2" value="option-3")
						label.form__label(for="checkbox-3") option-3
				div.form__group
					span.form__input-title Radio
					div.form__radio-group
						input.form__radio(type="radio" id="radio-1" name="option" value="option-1")
						label.form__label(for="radio-1") option-1
					div.form__radio-group
						input.form__radio(type="radio" id="radio-2" name="option" value="option-2")
						label.form__label(for="radio-2") option-2
					div.form__radio-group
						input.form__radio(type="radio" id="radio-3" name="option" value="option-3")
						label.form__label(for="radio-3") option-3
				div.form__group
					select.form__select
						option option-1
						option option-2
						option option-3
				div.form__group
					input.form__file(type="file" name="file")
				input.form__submit(id="submit" type="submit")

		div.modal 
			div.modal__inner
				div.modal__close
				span.modal__text Форма отправлена

		block scripts
			script(src="scripts/main.js")