-
	var versionFiles = 0,

	menu = [
		{
			'title': 'О нас',
			'link': 'about-us.html',
		},
		{
			'title': 'Услуги',
			'link': '#',
			'submenu': [
				{
					'title': 'Создание и продвижение сайтов',
					'link': 'website-development.html',
				},
				{
					'title': 'Разработка программного обеспечения',
					'link': 'software.html',
				},
				{
					'title': 'Услуги дата – центра',
					'link': 'data-center.html',
				},
				{
					'title': 'Big data',
					'link': 'big-data.html',
				},
			],
		},
		{
			'title': 'Проекты',
			'link': 'projects.html',
		},
		{
			'title': 'Карьера',
			'link': '#',
			'submenu': [
				{
					'title': 'Вакансии',
					'link': 'vacancy.html',
				},
				{
					'title': 'Интернатура',
					'link': 'internship.html',
				},
			],
		},
		{
			'title': 'Контакты',
			'link': 'contacts.html',
		},
	];

	slide = [
		{
			'title': 'DIGITAL – МАРКЕТИНГ',
			'descr': 'Веб-студия компании занимается созданием сайтов: «Визитка», Корпоративный сайт, Лэндинг, Интернет-магазин. Продвижение, контекстная реклама и техподдержка сайта – теперь наша задача!',
			'link': 'website-development.html',
			'alt': 'DIGITAL – МАРКЕТИНГ',
		},
		{
			'title': 'ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ',
			'descr': 'от создания ТЗ до техподдержки. В работе ориентируемся на создание «гибкого» продукта, в который по желанию заказчика можно вносить изменения на любом этапе разработки.',
			'link': 'software.html',
			'alt': 'ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ',
		},
		{
			'title': 'УСЛУГИ ДАТА – ЦЕНТРА',
			'descr': 'от создания ТЗ до техподдержки. В работе ориентируемся на создание «гибкого» продукта, в который по желанию заказчика можно вносить изменения на любом этапе разработки.',
			'link': 'data-center.html',
			'alt': 'УСЛУГИ ДАТА – ЦЕНТРА',
		},
		{
			'title': 'Big data',
			'descr': '',
			'link': 'big-data.html',
			'alt': 'Big data',
		},
	];
	slideAboutUs = [
		{
			'title': 'Завод «Красное Сормово» ',
			'link': '#',
		},
		{
			'title': 'АСКУЭ "Волга"',
			'link': '#',
		},
		{
			'title': 'ООО "РусАгро"',
			'link': '#',
		},
		{
			'title': 'Завод «Красное Сормово» ',
			'link': '#',
		},
		{
			'title': 'АСКУЭ "Волга"',
			'link': '#',
		},
		{
			'title': 'ООО "РусАгро"',
			'link': '#',
		},
	];
	reasons = [
		{
			'imgName': 9,
			'descr': 'Надёжность и большой опыт решения на практике проектов разного уровня сложности ',
		},
		{
			'imgName': 10,
			'descr': 'Профессиональная команда разработчиков и программистов, которая мастерски решит любую поставленную перед ними задачу',
		},
		{
			'imgName': 11,
			'descr': 'Понятность каждого шага (задачи, сроки и бюджет обсуждаются и&nbsp;прописываются заранее, благодаря чему достигается «прозрачность» каждого этапа)',
		},
		{
			'imgName': 8,
			'descr': 'Инновационные технологии в <br>IT-сфере',
		},
		{
			'imgName': 12,
			'descr': 'Соответствие на 100% конечного продукта целям клиента',
		},
		{
			'imgName': 13,
			'descr': 'Гибкие модели сотрудничества',
		},
		{
			'imgName': 14,
			'descr': 'Консультационное и техническое сопровождение готового продукта',
		},
	];
	cards = [
		{
			'imgName': 1,
			'title': 'Сайт – визитка',
			'descr': 'Простой и недорогой продающий сайт услуг для начинающих бизнесменов',
			'cost': 'От 10 000 ₽',
			'link': 'business-card.html',
		},
		{
			'imgName': 2,
			'title': 'Корпоративный сайт',
			'descr': 'Такой сайт может создать имидж компании и увеличить Ваши продажи',
			'cost': 'от 15 000 ₽',
			'link': '#',
		},
		{
			'imgName': 3,
			'title': 'Landing page',
			'descr': 'Одностраничный сайт позволяет убедить пользователей сделать покупку',
			'cost': 'от 10 000 ₽',
			'link': '#',
		},
		{
			'imgName': 4,
			'title': 'Интернет – магазин',
			'descr': 'Электронная торговля – это будущее и вы должны в нем присутствовать',
			'cost': 'От 80 000 ₽',
			'link': '#',
		},
		{
			'imgName': 5,
			'title': 'Продвижение сайтов',
			'descr': 'Чем выше позиции – тем больше охват в органической выдаче',
			'cost': 'от 12 000 ₽',
			'link': '#',
		},
		{
			'imgName': 6,
			'title': 'Контекстная реклама',
			'descr': 'Пользователь изучает информацию на сайте, находит ответ, оставляет заявку',
			'cost': 'от 8 000 ₽',
			'link': '#',
		},
		{
			'imgName': 7,
			'title': 'Поддержка сайта',
			'descr': 'Повышение репутации бренда, увеличение лояльности пользователей',
			'cost': 'от 5 000 ₽',
			'link': '#',
		},
	];
	stages = [
		{
			'imgName': 1,
			'title': 'Изучение компании',
			'descr': 'Чтобы сайт был максимально полезным, необходимо изучить все особенности компании, а также потребности ее клиентов. Знать целевую аудиторию и делать упор на ее запросы.',
		},
		{	
			'imgName': 2,
			'title': 'Создание прототипов и подготовка ТЗ',
			'descr': 'Исходя из пожеланий и требований заказчика, наши специалисты разрабатывают прототипы основных страниц сайта. Все важные элементы и интерактивные предложения обозначаются на скетчах схематично.',
		},
		{	
			'imgName': 3,
			'title': 'Концепция дизайна',
			'descr': 'Дизайн смело можно назвать главным элементом Вашего сайта: благодаря ему создается первое впечатление о компании. На этом этапе составляются требования к визуальной составляющей сайта - от основной идеи до соответствия брендбуку и гайдлайну.',
		},
		{	
			'imgName': 4,
			'title': 'Разработка макетов',
			'descr': 'Создаем макеты, соответствующие внешнему виду сайта и отражающие его основную идею. На этом этапе можно представить, как будет выглядеть Ваш сайт.',
		},
		{	
			'imgName': 5,
			'title': 'Сборка сайта',
			'descr': 'Здесь происходит магия - создание Вашего сайта.',
		},
		{	
			'imgName': 6,
			'title': 'Базовая оптимизация',
			'descr': 'Проводим технический аудит и оптимизируем код сайта в соответствии с актуальными требованиями поисковых систем.',
		},
		{	
			'imgName': 7,
			'title': 'Тестирование',
			'descr': 'Проверяем сайт на работоспособность.',
		},
		{	
			'imgName': 8,
			'title': 'Запуск сайта',
			'descr': 'После тщательной проверки подключаем сайт к Вашему домену и запускаем.',
		},
	];
	softwareServices = [
		{
			'imgName': 8,
			'title': 'Корпоративные бизнес-системы',
		},
		{
			'imgName': 9,
			'title': 'Мобильные приложения',
		},
		{
			'imgName': 10,
			'title': 'Клиент-серверные приложения',
		},
		{
			'imgName': 11,
			'title': 'Многофункциональные веб-приложения',
		},
		{
			'imgName': 12,
			'title': 'Web-сайты',
		},
		{
			'imgName': 13,
			'title': 'Аппаратно-программные комплексы',
		},
		{
			'imgName': 14,
			'title': 'Клиентские приложения “под нагрузкой” (BigData, HighLoad)',
		},
	];
	stagesSoftware = [
		{
			'imgName': 1,
			'title': 'Предподготовка',
			'descr': 'Сначала мы изучаем бизнес, его особенности и рынок, конкурентность. Важная часть - визуализация типичных пользователей, которые станут активными посетителями сайта или приложения на базе программного обеспечения.',
		},
		{
			'imgName': 13,
			'title': 'Подготовка технического задания',
			'descr': 'Мы узнаем о Ваших пожеланиях и ожидаемом результате, и только потом предлагаем лучшую концепцию и план развития будущего продукта. Создаем прототип продукта, чтобы оценить его плюсы и минусы.',
		},
		{
			'imgName': 7,
			'title': 'Тестирование чернового варианта',
			'descr': 'Вместе с заказчиком тестируем рабочий прототип, чтобы внести необходимые правки.',
		},
		{
			'imgName': 4,
			'title': 'Цикл доработки',
			'descr': 'Вносим изменения в план развития продукта, устраняем неполадки, обновляем продукт в соответствии с требованиями заказчика.',
		},
		{
			'imgName': 5,
			'title': 'Сборка программного обеспечения',
			'descr': 'Непосредственно создание Вашего программного обеспечения.',
		},
		{
			'imgName': 8,
			'title': 'Последний тест и запуск',
			'descr': 'Готовое программное обеспечение выставляем на оценку заказчику, и вместе получаем готовый программный продукт с абсолютными функциональными возможностями.',
		},
	];
	infoInfrastructure = [
		{
			'imgName': 15,
			'title': 'Прецизионные<br>кондиционеры STULZ',
		},
		{
			'imgName': 16,
			'title': 'Серверные стойки',
		},
		{
			'imgName': 17,
			'title': 'Источник<br>бесперебойного питания',
		},
		{
			'imgName': 18,
			'title': 'Резервирование<br>питания от ДГУ',
		},
		{
			'imgName': 19,
			'title': `Газовое пожаротушение`,
		},
	];
	infoSecurity = [
		{
			'imgName': 9,
			'title': 'Круглосуточный пост охраны<br>на территории дата – центра',
		},
		{
			'imgName': 20,
			'title': 'Система контроля<br>и управления доступом',
		},
		{
			'imgName': 21,
			'title': 'Система видеонаблюдения периметра и помещений',
		},
	];
	vacancy = [
		{
			'imgName': 13,
			'title': 'Разработчик С#.Net',
		},
		{
			'imgName': 7,
			'title': 'Web Developer',
		},
		{
			'imgName': 15,
			'title': 'Flash/ Программист',
		},
		{
			'imgName': 6,
			'title': 'Инженер технической поддержки',
		},
	];
	vacancyIconList = [
		{
			'imgName': 13,
			'descr': 'Общение “без галстуков” с профессионалами IT-сферы',
		},
		{
			'imgName': 10,
			'descr': 'Работа над российскими и зарубежными проектами (карьерный и профессиональный рост)',
		},
		{
			'imgName': 4,
			'descr': 'Семинары, тренинги, открытые мероприятия',
		},
		{
			'imgName': 8,
			'descr': 'Возможность реализовать собственный проект под руководством экспертов в области ИТ',
		},
		{
			'imgName': 12,
			'descr': 'Уникальный опыт (без лишней скромности)',
		},
		{
			'imgName': 7,
			'descr': 'Полный социальный пакет',
		},
	];
	internshipIconList = [
		{
			'imgName': 22,
			'descr': 'Мы ищем активных студентов/выпускников ВУЗов, стремящихся к профессиональному росту и развитию',
		},
		{
			'imgName': 23,
			'descr': 'График индивидуальный (возможно совмещение с учебой)',
		},
		{
			'imgName': 24,
			'descr': 'Длительность 3 месяца',
		},
		{
			'imgName': 25,
			'descr': `Место прохождения БЦ <br> “Комплекс-Групп”. Н. Новгород, ул.Силикатная, д. 4`,
		},
	];
	internshipIconList2 = [
		{
			'imgName': 13,
			'descr': 'Общение “без галстуков” с профессионалами IT-сферы',
		},
		{
			'imgName': 10,
			'descr': 'Практика работы с российскими и зарубежными проектами (профессиональное развитие)',
		},
		{
			'imgName': 4,
			'descr': 'Семинары, тренинги, открытые мероприятия',
		},
		{
			'imgName': 8,
			'descr': 'Возможность реализовать собственный проект под руководством экспертов в области ИТ',
		},
		{
			'imgName': 12,
			'descr': 'Уникальный опыт (без лишней скромности)',
		},
		{
			'imgName': 7,
			'descr': 'При обоюдной заинтересованности - трудоустройство в компанию мирового уровня',
		},
	];
	itemListIcon = [
		{
			'imgName': 16,
			'descr': 'Увеличивает объем продаж',
		},
		{
			'imgName': 17,
			'descr': 'Привлекает большее количество людей',
		},
		{
			'imgName': 18,
			'descr': 'В доступной красочной форме представляет товар потребителю',
		},
		{
			'imgName': 19,
			'descr': 'Помогает сделать маркетинговый ход на опережение конкурентов',
		},
	];
	itemListIconProject = [
		{
			'imgName': 20,
			'title': 'Электронные проходные',
			'descr': 'Вход в школу возможен только по электронной карте, привязанной к одному владельцу (ученику, родителю или сотруднику школы)',
		},
		{
			'imgName': 21,
			'title': 'Видеоидентификация',
			'descr': 'Все владельцы пропусков (карт) занесены в базу. При поднесении карты к считывающему устройству их лица отображаются на мониторе охранника',
		},
		{
			'imgName': 22,
			'title': 'SMS-уведомления',
			'descr': 'Каждый раз, когда ребенок входит или выходит с территории школы, родителям (или тем лицам, что отвечают за его безопасность) приходит извещение в виде смс-сообщения',
		},
		{
			'imgName': 23,
			'title': 'Электронная отчетность',
			'descr': 'Все данные хранятся в электронной форме. Есть возможность открыть или ограничить доступ для нового лица (например, учителя). Появляются новые возможности для коммуникации родителей и педагогов.',
		},
	];
	businessCardIconList = [
		{
			'imgName': 13,
			'descr': 'Составление технического задания под Ваши требования',
		},
		{
			'imgName': 4,
			'descr': 'Заключение договора<br>на разработку сайта',
		},
		{
			'imgName': 2,
			'descr': 'Создание прототипов страниц',
		},
		{
			'imgName': 3,
			'descr': 'Отрисовка дизайна<br>и его интеграция',
		},
		{
			'imgName': 5,
			'descr': 'Разработка функциональной части сайта',
		},
		{
			'imgName': 7,
			'descr': 'Тестирование и отладка сайта',
		},
		{
			'imgName': 8,
			'descr': 'Ввод в эксплуатацию',
		},
	];
	technologiesCardList = [
		{
			'title': 'Microsoft .Net Next, WPF, WCF',
			'descr': 'Построение масштабируемых многофункциональных приложений (декстопных, распределенных, веб) и сложных сайтов, порталов и систем «в облаке» и на серверах.',
		},
		{
			'title': 'Drupal, WordPress, ModX',
			'descr': 'Гибкие технологии для оперативной разработки информационных порталов, сайтов, интернет-магазинов и тестировании проектов.',
		},
		{
			'title': 'Assembler/C/C++',
			'descr': 'Оптимальны для работы с особо нагружаемыми участками, а также контроллерами и другим «железом» - там, где требуется высокая скорость обработки операций.',
		},
		{
			'title': 'MySQL, MS SQL',
			'descr': 'Клиент-серверные СУБД высокой гибкости и мобильности. MySQL – более высокая скорость обработки, MS SQL – стабильная и более безопасная работа приложений с конфиденциальными данными. Настройка под клиента.',
		},
		{
			'title': 'MongoDB, GriDFS',
			'descr': 'Распределенные хранилища данных для BigData/HighLoad приложений. Высокая производительность, масштабируемость и отказоустойчивость. Улучшенный аудит безопасности.',
		},
		{
			'title': 'Liferay',
			'descr': 'Веб-платформа для централизованного доступа к корпоративным приложениям. Множество подключаемых модулей. Легко масштабируется и разворачивается в «облаке».',
		},
	];